name: Run Unit Tests
on:
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   unit-test:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
         - name: Run Unit Tests
           run: |
              npm install
              npm test
