name: Run Unit Tests
on:
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   unit-test:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
         - name: Run Unit Tests
           run: |
              npm install
              npm test
